{{>layouts/header}}
{{#article}}
    <form action="/articles/{{id}}/update" class="container" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" value="{{title}}"/>
        </div>
        <div class="mb-3">
            <label for="content">Content</label>
            <textarea name="content" rows="3">{{content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{{/article}}
{{>layouts/footer}}